@model Electronic_MVC.Models.Product_Detail

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Product Detail</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
          Product Name
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product_Name)
        </dd>
        <dt class = "col-sm-2">
            Price
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
           Brand Detail
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Brand_Detail.Brand_Name)
        </dd>
        <dt class = "col-sm-2">
           Category Detail
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category_Detail.Product)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
